<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.uenhouseholdrapidsurvey">

    <application
        android:name=".core.MainApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:immersive="true"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.main"
        android:usesCleartextTraffic="false"
        tools:replace="android:allowBackup">


        <activity
            android:name=".ui.EndingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.SyncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".database.AndroidManager"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name=".ui.lists.FormsReportPending"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.lists.FormsReportCluster"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.lists.FormsReportDate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.lists.FamilyMembersListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.lists.PregnancyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.TakePhoto"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.splashscreen"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.IdentificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionA1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.ConsentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionO1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionN1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionD1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionE1AActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionE1BActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionE2AActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionE2BActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionF1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionG1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionH1AActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionH1BActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionH2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.sections.DIAChildSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.sections.SectionI1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.sections.ARIChildSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionI2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionIMAActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionIMBActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionK1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionL1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionM1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="YEK_REVRES"
            android:value="hWmZq4t7w!z%C*F)J@NcRfUjXn2r5u8x/A?D(G+KaPdInT@3rNA1Ev#eRyON3@Mc" />
        <meta-data
            android:name="YEK_TRATS"
            android:value="44" />
    </application>

</manifest>