<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.aku.hassannaqvi.uenhouseholdrapidsurvey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.main">
        <activity
            android:name=".ui.sections.SectionIMB_Activity"
            android:exported="true" />
        <activity
            android:name=".ui.sections.SectionO1Activity"
            android:exported="true" />
        <activity
            android:name=".ui.sections.SectionA1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.sections.ConsentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.sections.SectionO1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.sections.SectionN1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.sections.SectionD1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionE1AActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionE1BActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionE2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionF1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionG1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.sections.SectionH1AActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.sections.SectionH1BActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.sections.SectionH2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionI1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionI2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionIMA_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionK1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionL1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.sections.SectionM1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.lists.PregnancyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish1"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>